

/* 属性设置的样式:位置形状快速设置*/
.controls {
    display: inline-block;
    background: #fafafa;
    margin-left: 2px;
    margin-right: 1px;
    padding: 1px;
    border: 1px dotted #aaa;
    vertical-align:top;
}
.canvas-container {
    display: inline-block;
    vertical-align: top;
    width: 825px;
}
#c{
    border:1px solid #888
}
label span {
    width: 60px;
    display: inline-block;
    font-size: .8em;
}

/*设置滑块控件 */
*[type=range] {
    position: relative;
    top: 3px;
    width: 72px;
 }

p{
    margin: 10px;
}
p:first-child {
    margin-top: 0
}
p:last-child {
    margin-bottom: 4px;
}

/*组合按键格式*/
.btn-info {
    display: inline-block;
    height: 25px;
    background: #f5f2f0;

}

/*控制点设置*/
#setControlVisible {
    margin-top: -10px;
}
#setControlVisible input {
    margin: 0;
}

.tag{
    display: inline-block;
    background: #fafafa;
    padding: 5px;
    border: 1px dotted #aaa;
    vertical-align:top;
}
button#exportToLib,button#exportToConf{
    width: 100px;
    display: inline-block;
    font-size: .8em;
    background: #f5f2f0;
}
.dateTag{
    background: #f5f2f0;
    padding: 2px;
    border: 1px dotted #aaa;

}